<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/editV.css">
    <link rel="stylesheet" href="../stylesheets/nav.css">
    <link rel="stylesheet" href="../stylesheets/search.css">
</head>

<body>
    <style>
        #nav .menu_circle {
             border: none !important;
        }
        #MENU{
            color: #000 !important;
        }
    </style>
    <% include ./partials/nav.ejs %>
        <% include ./partials/search.ejs %>
            <div id="main">
                <div id="pg1">
                    <div class="image">
                        <div class="i">
                            <div class="i1">
                                <h6>Edit images</h6>
                                <i class="ri-edit-box-line"></i>
                            </div>
                        </div>
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <% vehicle.pic.forEach(function(pic){ %>
                                    <div class="swiper-slide">
                                        <img src="../images/uploads/vehicleimages/<%= pic %>" alt="">
                                    </div>
                                    <% }) %>

                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                        <form id="imup" action="/update/images/<%= vehicle._id %>" method="post"
                            enctype="multipart/form-data">
                            <input id="imups" type="file" class="form-control" id="formFile" accept="image/*"
                                name="vehiclephoto1" multiple>
                        </form>
                    </div>
                    <div class="frm">

                        <div class="btm">
                            <form action="/update/vehicle/<%= vehicle._id %>" method="post">

                                <div class="information">
                                    <h1>Edit Your Vehicle Details.</h1>
                                    <div class="info">
                                        <h6>Vehicle Details:</h6>
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Your Vahicle Type</label>
                                            <input value="<%= vehicle.vehicleType %>" name="Vt"
                                                placeholder="Your Vahicle Type" type="text" class="form-control"
                                                id="exampleInputEmail1" aria-describedby="emailHelp">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Your Vahicle
                                                Brand/Make</label>
                                            <input value="<%= vehicle.vehicleBrand %>" name="Vb"
                                                placeholder="Your Vehicle Brand/Make" type="text" class="form-control"
                                                id="exampleInputEmail1" aria-describedby="emailHelp">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Your Vahicle Name</label>
                                            <input value="<%= vehicle.vehicleName %>" name="Vn"
                                                placeholder="Your Vehicle Name" type="text" class="form-control"
                                                id="exampleInputEmail1" aria-describedby="emailHelp">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label"> Your Vahicle
                                                Colour</label>
                                            <input value="<%= vehicle.vehicleColor %>" name="Vc"
                                                placeholder="Your vehicle Colour" type="text" class="form-control"
                                                id="exampleInputEmail1" aria-describedby="emailHelp">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label"> Year of
                                                Manufacture</label>
                                            <input value="<%= vehicle.YOM.toISOString().split('T')[0] %>"
                                                style="color: #000 !important;" name="YOM"
                                                placeholder="Year of Manufacture" type="date" class="form-control"
                                                id="exampleInputEmail1" aria-describedby="emailHelp">
                                        </div>

                                    </div>
                                    <div class="info">
                                        <h6>Pricing and Availibility:</h6>
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Rental Price Per
                                                Day</label>
                                            <input value="<%= vehicle.RentalPrice %>" name="Price"
                                                placeholder="Rental Price Per Day" type="text" class="form-control"
                                                id="exampleInputEmail1" aria-describedby="emailHelp">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Your Shop Name</label>
                                            <input value="<%= vehicle.Shopname %>" name="Sname"
                                                placeholder="Your Shop Name" type="text" class="form-control"
                                                id="exampleInputEmail1" aria-describedby="emailHelp">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Your Shop Address</label>
                                            <input value="<%= vehicle.Shopaddress %>" name="Sadd"
                                                placeholder="Your Shop Address" type="text" class="form-control"
                                                id="exampleInputEmail1" aria-describedby="emailHelp">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <h6>Vehicle Features:</h6>
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Seating Capacity</label>
                                            <input value="<%= vehicle.seating %>" name="Sc"
                                                placeholder="Seating Capacity" type="text" class="form-control"
                                                id="exampleInputEmail1" aria-describedby="emailHelp">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Luggage Capacity</label>
                                            <input value="<%= vehicle.Luggage %>" name="Lc"
                                                placeholder="Luggage Capacity" type="text" class="form-control"
                                                id="exampleInputEmail1" aria-describedby="emailHelp">
                                        </div>
                                        <% if(vehicle.vehicleType==='car' || vehicle.vehicleType==='Car' ){ %>
                                            <div class="check-options">
                                                <div class="mb-3 form-check">
                                                    <input <% if (vehicle.Ac) { %>checked<% } %> type="checkbox"
                                                        class="form-check-input" id="exampleCheck1" name="Ac"
                                                        value="true">
                                                        <label class="form-check-label" for="exampleCheck1">Air
                                                            Conditioning</label>
                                                </div>
                                                <div class="mb-3 form-check">
                                                    <input <% if (vehicle.Es) { %>checked<% } %> type="checkbox"
                                                        class="form-check-input" id="exampleCheck1" name="Es"
                                                        value="true">
                                                        <label class="form-check-label"
                                                            for="exampleCheck1">Entertainment System</label>
                                                </div>
                                                <div class="mb-3 form-check">
                                                    <input <% if (vehicle.Gps) { %>checked<% } %> type="checkbox"
                                                        class="form-check-input" id="exampleCheck1" name="Gps"
                                                        value="true">
                                                        <label class="form-check-label" for="exampleCheck1">Gps
                                                            Navigation</label>
                                                </div>
                                            </div>
                                            <% } %>

                                    </div>

                                    <div class="info">

                                        <h6>Additional Information:</h6>
                                        <div class="mb-3">
                                            <label for="exampleInputPassword1" class="form-label">Description of the
                                                vehicle (optional)</label>
                                            <textarea id="textarea1" name="Des" placeholder="Description of the vehicle" input
                                                type="text" name="desc" class="form-control"> </textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputPassword1" class="form-label">Any specific terms and
                                                conditions (if applicable)</label>
                                            <textarea name="Terms" placeholder="Any specific terms and conditions" input
                                                type="text" name="desc" class="form-control"
                                                id="exampleInputPassword1"> </textarea>
                                        </div>

                                    </div>
                                    <div class="info">
                                        <h6>Insurance Details:</h6>
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Insurance
                                                Provider</label>
                                            <input value="<%= vehicle.insuranceP %>" name="Ip"
                                                placeholder="Insurance Provider" type="text" class="form-control"
                                                id="exampleInputEmail1" aria-describedby="emailHelp">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Insurance Start
                                                date</label>
                                            <input value="<%= vehicle.insuranceSD.toISOString().split('T')[0] %>"
                                                name="Ist" placeholder="Insurance Start date" type="date"
                                                class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Insurance End
                                                date</label>
                                            <input value="<%= vehicle.insuranceED.toISOString().split('T')[0] %>"
                                                name="Ied" placeholder="Insurance End date" type="date"
                                                class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Update Your Vehicle Details</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <% include ./partials/loco.ejs %>
                <script src="../javascripts/nav.js"></script>
                <script src="../javascripts/search.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
                    crossorigin="anonymous"></script>
                <script>
                    var swiper = new Swiper(".mySwiper", {
                        loop: true,
                        autoplay: true,
                        grabCursor: true,
                        navigation: {
                            nextEl: ".swiper-button-next",
                            prevEl: ".swiper-button-prev",
                        },
                    });
                    document.querySelector(".i1")
                        .addEventListener("click", function () {
                            document.querySelector("#imups").click();

                        })
                    document.querySelector("#imups").addEventListener("change", function () {
                        console.log(document.querySelector("#imups").value)
                        document.querySelector("#imup").submit();
                    })
                    
                </script>
                 <script>
                    const newImageSrc = '/images/uploads/Shery Ride-logos/Shery Ride-logos_black.png';
                       document.getElementById('logoimg').src = newImageSrc;
                </script>
</body>

</html>